.final-card-container{
    /* width:80vw;
    height:80vh; */
   
    width:70vw;
    height:90vh;
   
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: none ;
    overflow: auto;
  
}
.fullcard-image-container{
    width:60vw;
    height:60vh;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.fullcard-image{
    width:100%;
    height:100%
}
.for-look{
    width: 100vw;
    height:90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:20px;
    overflow: auto;
}