
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');
.workout-image{
    height: 600px;
    width: 800px;
}
.land-page-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
}
.welcome-title{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}



.welcome-title2{
    font-size: 10px;
    font-weight: 500;
    text-align: end;
}



.workout-title{
    font-size: 64px;
    font-weight: 800;
    color: #329fc7;
}

.landing-page-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.car-container{
    width:800px !important;
    
    background-color:blue;
}
.carousel-width{
    width:800px !important;
}
.intro-workout{
    font-size:15px;
    font-weight: normal !important;
    font-family: Arial;
}