.main-home-container{
    width:100vw;
    height:100vh
}
.input-cust{
    width:80vw !important;
    margin-top:20px !important;
}
.main-home-container-2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center
}
.list-item-container{
    list-style-type:none;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap ;
}