.background{
    background-color: #329fc7;
}
.logo{
    height: 55px;
    width: 55px;
    border-radius: 36px;
    margin-right: 8px;
}
.nav-title{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 4px;
    cursor: pointer;
}
.nav-items{
    margin-left: auto;
}
.nav-bar{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-right: 18px
}